storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/css/
public/js/
public/fonts/
vendor/
node_modules/

.dockerignore
docker-compose.yml

.git/
.gitignore
*.md